/****
    BUTTON ANIMATED
 ****/
.button-wrapper {
    overflow: hidden;
    border-radius: 38px;
    width: min-content;
    cursor: pointer;
    position: relative;
    -webkit-mask-image: linear-gradient(white, black);
}

.btn-main {
    border-radius: 38px;
    background-color: transparent;
    letter-spacing: 1px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

/****
    CURSOR
 ****/
.cursor {
    position: fixed;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    pointer-events: none;
    z-index: 1;
}

.main-cursor{
    position: fixed;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    pointer-events: none;
    z-index: 99;
}


/****
    MENU LINK
 ****/

.menu-link{
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    position: relative;
    display: inline-block;
}
.menu-link::before,
.menu-link::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button--calypso {
    overflow: hidden;
    color: #fff;
}

.button--calypso span {
    display: block;
    position: relative;
    z-index: 10;
}

.button--calypso:hover span {
    animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
}

@keyframes MoveScaleUpInitial {
    to {
        transform: translate3d(0,-105%,0) scale3d(1,2,1);
        opacity: 0;
    }
}

@keyframes MoveScaleUpEnd {
    from {
        transform: translate3d(0,100%,0) scale3d(1,2,1);
        opacity: 0;
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.button--calypso::before {
    content: '';
    background: #F97316;
    width: 120%;
    height: 0;
    padding-bottom: 120%;
    top: -110%;
    left: -10%;
    border-radius: 50%;
    transform: translate3d(0,68%,0) scale3d(0,0,0);
}

.button--calypso:hover::before {
    transform: translate3d(0,0,0) scale3d(1,1,1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso::after {
    content: '';
    background: #16A34A;
    color: #f1f3f6;
    transform: translate3d(0,-100%,0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso:hover span{
    color: #f1f3f6 !important;
}

.button--calypso:hover::after {
    transform: translate3d(0,0,0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
    transition-timing-function: linear;
}




.button--fenrir {
    background: none;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 120px;
    height: 120px;
    z-index: 99;
}

.progress {
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.button--fenrir:hover {
    color: #F97316;
}
.button--fenrir:hover .progress {
    transform: scale3d(1.2, 1.2, 1);
}

.progress__circle,
.progress__path {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 1px;
}

.button--fenrir:focus-visible .progress__circle {
    fill: rgba(252,196,63,0.4);
}

.button--fenrir:hover .progress__circle {
    fill: rgba(252,196,63,0.35);
}


.progress__path {
    stroke: #F97316;
    stroke-dasharray: 2;
    stroke-dashoffset: 2;
    transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress__path {
    stroke-dashoffset: 0;
}







.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}




.link--thebe {

}

.link--thebe::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 2, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.link--thebe::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::after {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}



.pulse-wrapper {
    background-color: orange;
    height: 1.4rem;
    width: 1.4rem;
    display: block;
    border-radius: 50%;
}

.badge-pulse {
    animation: pulse 1s linear infinite;
    background-color: orange;
    height: 1.4rem;
    width: 1.4rem;
    display: block;
    border-radius: 50%;
}


.main-pulse{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}


.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    content: "";
    opacity: .03;
    z-index: 1500;
    pointer-events: none;
    background: url('../public/images/noise.gif');
}